page-phone-info {
  ion-slide {
    width: 100%!important;
    padding: 1px;
  }
  .phone-brand .col {
    padding: 0px;
    font-size: 22px;
  }
  .phone-title {
    margin: 10px;
  }
  h2 {
    margin: 0px auto;
    font-weight: 600;
    text-align: center;
  }
  .phone-price {
    margin: 0 auto;
    color: white;
    background-color: color($colors, primary);
    border: 1px solid color($colors, primary);
    border-radius: 15px;
    padding: 3px 20px;
    font-size: 14px;
  }
  .phone-desc {
    margin: 0 auto;
    font-size: 12px;
    min-height: 13px;
    margin-top: 3px;
  }
  .photo-slides {
    img {
      max-height: 80%;
    }
  }
  .phone-info-title {
    border-bottom: 1px solid black;
    margin-top: 15px;
    div {
        color: color($colors, primary);
    }
  }
  .phone-option-container {
    margin-top: 15px;
  }
  .phone-option-container ion-row:first-child, .phone-info-title div {
    font-weight: bold;
    font-size: 16px;
  }
  .phone-option-container ion-row:last-child {
    font-size: 15px;
  }
  .sale-price {
    background-color: #f33;
    border: 1px solid #f33;
  }
  .pic-container {
    margin: 0 auto;
  }
}
