<ion-header>
  <ion-navbar color='primary'>
    <button ion-button menuToggle>
      <ion-icon class='nav-icon' name="menu"></ion-icon>
    </button>
    <div class='logo-container'>
      <img src='assets/img/wireless-logo.gif'>
    </div>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class='image-container'>
    <img src='assets/img/wireless-logo.png'>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col text-center col-4 *ngFor='let cat of categories; let i = index' class='menu-category' [class]='giveBorder(i)' (tap)='onCatSelect(cat)'>
        <div class='icon-container'>
          <ion-icon [name]="cat.icon"></ion-icon>
          <ng-template ngIf='cat.icon2'>
            <ion-icon class='icon2' [name]="cat.icon2"></ion-icon>
          </ng-template>
        </div>
        <div class='text-container'>
          <p>{{cat.title | translate}}</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class='forum-section'>
    <ion-grid class='section-title'>
      <ion-row>
        <ion-col>
          <ion-icon name="ios-play"> <span>{{'HOME-SEC-NOTICE' | translate}}</span></ion-icon>
        </ion-col>
        <ion-col class='select-all' (tap)='onViewAll("notice")'>
          {{'HOME-SEC-ALL' | translate}}
        </ion-col>
      </ion-row>
    </ion-grid>
    <comp-post-container *ngFor='let forum of forumsNotice; let i = index' [containerName]='"post"' [itemsLength]='forumsNotice.length - 1' [item]='forum' [count]='i' (click)='onForumClick(forum)'></comp-post-container>
    <ion-grid class='section-title'>
      <ion-row>
        <ion-col>
          <ion-icon name="ios-play"> <span>{{'HOME-SEC-NEW' | translate}}</span></ion-icon>
        </ion-col>
        <ion-col class='select-all' (tap)='onViewAll("faq")'>
          {{'HOME-SEC-ALL' | translate}}
        </ion-col>
      </ion-row>
    </ion-grid>
    <comp-post-container *ngFor='let forum of forumsAll; let i = index' [item]='forum' [containerName]='"post"' [itemsLength]='forumsAll.length - 1' [count]='i' (click)='onForumClick(forum)'></comp-post-container>
  </div>
  <ion-card class='extraElement'>
    <ion-card-content>
    </ion-card-content>
  </ion-card>
</ion-content>
