<ion-header>
  <ion-navbar color='primary'>
    <button ion-button menuToggle>
      <ion-icon class='nav-icon' name="menu"></ion-icon>
  </button>
    <div class='logo-container' (tap)='navCtrl.popToRoot()'>
      <img src='assets/img/wireless-logo.gif'>
    </div>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class='forum-info'>
    <div>{{(selectedForum.first_name ? selectedForum.first_name + ' ' + selectedForum.last_name : 'Ultimate Wireless')}}</div>
    <div>{{selectedForum.date_added | amDateFormat: 'YYYY.MM.DD HH:mm'}} | {{'FORUM-INFO-COUNT' | translate}} {{selectedForum.view_count ? selectedForum.view_count : 0}} | {{'FORUM-INFO-REPLIES' | translate}} {{selectedForum.replied_forum ? selectedForum.replied_forum.length : 0}}</div>
  </div>
  <div class='forum-main'>
    <div class='forum-title'>
      {{selectedForum.title}}
    </div>
    <div class='forum-body' *ngIf='selectedForum.message'>
      {{selectedForum.message}}
    </div>
    <ion-row *ngIf='selectedForum.youtube_link'>
      <comp-youtube-player [embedId]='selectedForum.youtube_link' [setHeight]='200'></comp-youtube-player>
    </ion-row>
  </div>
  <div *ngIf='selectedForum.reply_count > 0'>
    <div class='reply-section'>
      {{'FORUM-INFO-REPLIES' | translate}} ({{selectedForum.replied_forum ? selectedForum.replied_forum.length : 0}})
    </div>
    <comp-post-container *ngFor='let forum of selectedForum.replied_forum; let i = index' [containerName]='"reply"' [itemsLength]='selectedForum.replied_forum.length - 1' [item]='forum' [count]='i'></comp-post-container>
  </div>
</ion-content>
